@font-face {
    font-family: 'font-awesome';
    src: url("/assets/fonts/font_awesome.eot");
    src: url("/assets/fonts/font_awesome.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/font_awesome.woff") format("woff"),
         url("/assets/fonts/font_awesome.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.symbol { 
    font-family: font-awesome;
    /* 1 */
    display: inline-block;
    /* 2 */
    font-weight: 400;
    font-style: normal;
    /* 4 */
    line-height: inherit;
    /* 5 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.symbol.smallSize:before{ font-size: 160%; }
.symbol.largeSize:before{ font-size: 250%; }
.symbol.mediumSize:before{ font-size: 200%; }

.symbol.shownStack {
    position: relative;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    vertical-align: middle;
}

.symbol.shownStack > .symbol {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center; 
    line-height: inherit;
}  

.symbol.shownGlass:before{content:"\f000"}
.symbol.shownMusic:before{content:"\f001"}
.symbol.shownSearch:before{content:"\f002"}
.symbol.shownHeart:before{content:"\f004"}
.symbol.shownStar:before{content:"\f005"}
.symbol.shownUser:before{content:"\f007"}
.symbol.shownFilm:before{content:"\f008"}
.symbol.shownTHLarge:before{content:"\f009"}
.symbol.shownTH:before{content:"\f00a"}
.symbol.shownTHList:before{content:"\f00b"}
.symbol.shownCheck:before{content:"\f00c"}
.symbol.shownTimes:before{content:"\f00d"}
.symbol.shownSearchPlus:before{content:"\f00e"}
.symbol.shownSearchMinus:before{content:"\f010"}
.symbol.shownPowerOff:before{content:"\f011"}
.symbol.shownSignal:before{content:"\f012"}
.symbol.shownGear:before,
.symbol.shownCog:before{content:"\f013"}
.symbol.shownHome:before{content:"\f015"}
.symbol.shownRoad:before{content:"\f018"}
.symbol.shownDownload:before{content:"\f019"}
.symbol.shownInBox:before{content:"\f01c"}
.symbol.shownRotateRight:before,
.symbol.shownRepeat:before{content:"\f01e"}
.symbol.shownRefresh:before{content:"\f021"}
.symbol.shownListAlt:before{content:"\f022"}
.symbol.shownLock:before{content:"\f023"}
.symbol.shownFlag:before{content:"\f024"}
.symbol.shownHeadPhones:before{content:"\f025"}
.symbol.shownVolumeOff:before{content:"\f026"}
.symbol.shownVolumeDown:before{content:"\f027"}
.symbol.shownVolumeUp:before{content:"\f028"}
.symbol.shownQRCode:before{content:"\f029"}
.symbol.shownBarCode:before{content:"\f02a"}
.symbol.shownTag:before{content:"\f02b"}
.symbol.shownTags:before{content:"\f02c"}
.symbol.shownBook:before{content:"\f02d"}
.symbol.shownBookmark:before{content:"\f02e"}
.symbol.shownPrint:before{content:"\f02f"}
.symbol.shownCamera:before{content:"\f030"}
.symbol.shownFont:before{content:"\f031"}
.symbol.shownBold:before{content:"\f032"}
.symbol.shownItalic:before{content:"\f033"}
.symbol.shownTextHeight:before{content:"\f034"}
.symbol.shownTextWidth:before{content:"\f035"}
.symbol.shownAlignLeft:before{content:"\f036"}
.symbol.shownAlignCenter:before{content:"\f037"}
.symbol.shownAlignRight:before{content:"\f038"}
.symbol.shownAlignJustify:before{content:"\f039"}
.symbol.shownList:before{content:"\f03a"}
.symbol.shownDedent:before,
.symbol.shownoutdent:before{content:"\f03b"}
.symbol.shownIndent:before{content:"\f03c"}
.symbol.shownVideoCamera:before{content:"\f03d"}
.symbol.shownPencil:before{content:"\f040"}
.symbol.shownMapMarker:before{content:"\f041"}
.symbol.shownAdjust:before{content:"\f042"}
.symbol.shownTint:before{content:"\f043"}
.symbol.shownArrows:before{content:"\f047"}
.symbol.shownStepBackward:before{content:"\f048"}
.symbol.shownFastBackward:before{content:"\f049"}
.symbol.shownBackward:before{content:"\f04a"}
.symbol.shownPlay:before{content:"\f04b"}
.symbol.shownPause:before{content:"\f04c"}
.symbol.shownStop:before{content:"\f04d"}
.symbol.shownForward:before{content:"\f04e"}
.symbol.shownFastForward:before{content:"\f050"}
.symbol.shownStepForward:before{content:"\f051"}
.symbol.shownEject:before{content:"\f052"}
.symbol.shownChevronLeft:before{content:"\f053"}
.symbol.shownChevronRight:before{content:"\f054"}
.symbol.shownPlusCircle:before{content:"\f055"}
.symbol.shownMinusCircle:before{content:"\f056"}
.symbol.shownTimesCircle:before{content:"\f057"}
.symbol.shownCheckCircle:before{content:"\f058"}
.symbol.shownQuestionCircle:before{content:"\f059"}
.symbol.shownInfoCircle:before{content:"\f05a"}
.symbol.shownCrossHairs:before{content:"\f05b"}
.symbol.shownBan:before{content:"\f05e"}
.symbol.shownArrowLeft:before{content:"\f060"}
.symbol.shownArrowRight:before{content:"\f061"}
.symbol.shownArrowUp:before{content:"\f062"}
.symbol.shownArrowDown:before{content:"\f063"}
.symbol.shownMailForward:before,
.symbol.shownshare:before{content:"\f064"}
.symbol.shownExpand:before{content:"\f065"}
.symbol.shownCompress:before{content:"\f066"}
.symbol.shownPlus:before{content:"\f067"}
.symbol.shownMinus:before{content:"\f068"}
.symbol.shownAsterisk:before{content:"\f069"}
.symbol.shownExclamationCircle:before{content:"\f06a"}
.symbol.shownGift:before{content:"\f06b"}
.symbol.shownLeaf:before{content:"\f06c"}
.symbol.shownFire:before{content:"\f06d"}
.symbol.shownEye:before{content:"\f06e"}
.symbol.shownEyeSlash:before{content:"\f070"}
.symbol.shownWarning:before,
.symbol.shownExclamationTriangle:before{content:"\f071"}
.symbol.shownPlane:before{content:"\f072"}
.symbol.shownCalendar:before{content:"\f073"}
.symbol.shownRandom:before{content:"\f074"}
.symbol.shownComment:before{content:"\f075"}
.symbol.shownMagnet:before{content:"\f076"}
.symbol.shownChevronUp:before{content:"\f077"}
.symbol.shownChevronDown:before{content:"\f078"}
.symbol.shownReTweet:before{content:"\f079"}
.symbol.shownShoppingCart:before{content:"\f07a"}
.symbol.shownFolder:before{content:"\f07b"}
.symbol.shownFolderOpen:before{content:"\f07c"}
.symbol.shownVerticalArrows:before{content:"\f07d"}
.symbol.shownHorizontalArrows:before{content:"\f07e"}
.symbol.shownTwitterSquare:before{content:"\f081"}
.symbol.shownFacebookSquare:before{content:"\f082"}
.symbol.shownCameraRetro:before{content:"\f083"}
.symbol.shownKey:before{content:"\f084"}
.symbol.shownGears:before,
.symbol.showncogs:before{content:"\f085"}
.symbol.shownComments:before{content:"\f086"}
.symbol.shownStarHalf:before{content:"\f089"}
.symbol.shownSignOut:before{content:"\f08b"}
.symbol.shownLinkedInSquare:before{content:"\f08c"}
.symbol.shownThumbTack:before{content:"\f08d"}
.symbol.shownExternalLink:before{content:"\f08e"}
.symbol.shownSignIn:before{content:"\f090"}
.symbol.shownTrophy:before{content:"\f091"}
.symbol.shownGithubSquare:before{content:"\f092"}
.symbol.shownUpload:before{content:"\f093"}
.symbol.shownPhone:before{content:"\f095"}
.symbol.shownPhoneSquare:before{content:"\f098"}
.symbol.shownTwitter:before{content:"\f099"}
.symbol.shownFacebook:before{content:"\f09a"}
.symbol.shownGithub:before{content:"\f09b"}
.symbol.shownUnlock:before{content:"\f09c"}
.symbol.shownCreditCard:before{content:"\f09d"}
.symbol.shownRss:before{content:"\f09e"}
.symbol.shownBullhorn:before{content:"\f0a1"}
.symbol.shownBell:before{content:"\f0f3"}
.symbol.shownCertificate:before{content:"\f0a3"}
.symbol.shownArrowCircleLeft:before{content:"\f0a8"}
.symbol.shownArrowCircleRight:before{content:"\f0a9"}
.symbol.shownArrowCircleUp:before{content:"\f0aa"}
.symbol.shownArrowCircleDown:before{content:"\f0ab"}
.symbol.shownGlobe:before{content:"\f0ac"}
.symbol.shownWrench:before{content:"\f0ad"}
.symbol.shownTasks:before{content:"\f0ae"}
.symbol.shownFilter:before{content:"\f0b0"}
.symbol.shownBriefcase:before{content:"\f0b1"}
.symbol.shownArrowsAlt:before{content:"\f0b2";}
.symbol.shownGroup:before,
.symbol.shownUsers:before{content:"\f0c0";}
.symbol.shownChain:before,
.symbol.shownLink:before{content:"\f0c1";}
.symbol.shownCloud:before{content:"\f0c2";}
.symbol.shownFlask:before{content:"\f0c3";}
.symbol.shownCut:before,
.symbol.shownScissors:before{content:"\f0c4";}
.symbol.shownPaperClip:before{content:"\f0c6"}
.symbol.shownSquare:before{content:"\f0c8"}
.symbol.shownNavicon:before,
.symbol.shownReorder:before,
.symbol.shownBars:before{content:"\f0c9"}
.symbol.shownUL:before{content:"\f0ca"}
.symbol.shownOL:before{content:"\f0cb"}
.symbol.shownStrikeThrough:before{content:"\f0cc"}
.symbol.shownUnderline:before{content:"\f0cd"}
.symbol.shownTable:before{content:"\f0ce"}
.symbol.shownMagic:before{content:"\f0d0"}
.symbol.shownTruck:before{content:"\f0d1"}
.symbol.shownPinterest:before{content:"\f0d2"}
.symbol.shownPinterestSquare:before{content:"\f0d3"}
.symbol.shownGooglePlusSquare:before{content:"\f0d4"}
.symbol.shownGooglePlus:before{content:"\f0d5"}
.symbol.shownMoney:before{content:"\f0d6"}
.symbol.shownCaretDown:before{content:"\f0d7"}
.symbol.shownCaretUp:before{content:"\f0d8"}
.symbol.shownCaretLeft:before{content:"\f0d9"}
.symbol.shownCaretRight:before{content:"\f0da"}
.symbol.shownColumns:before{content:"\f0db"}
.symbol.shownUnsorted:before,
.symbol.shownSort:before{content:"\f0dc"}
.symbol.shownSortDown:before,
.symbol.shownSortDesc:before{content:"\f0dd"}
.symbol.shownSortUp:before,
.symbol.shownSortAsc:before{content:"\f0de"}
.symbol.shownEnvelope:before{content:"\f0e0"}
.symbol.shownLinkedIn:before{content:"\f0e1"}
.symbol.shownRotateLeft:before,
.symbol.shownUndo:before{content:"\f0e2"}
.symbol.shownLegal:before,
.symbol.shownGavel:before{content:"\f0e3"}
.symbol.shownDashboard:before,
.symbol.shownTachometer:before{content:"\f0e4"}
.symbol.shownFlash:before,
.symbol.shownBolt:before{content:"\f0e7"}
.symbol.shownSitemap:before{content:"\f0e8"}
.symbol.shownUmbrella:before{content:"\f0e9"}
.symbol.shownPaste:before,
.symbol.shownClipboard:before{content:"\f0ea"}
.symbol.shownExchange:before{content:"\f0ec"}
.symbol.shownCloudDownload:before{content:"\f0ed"}
.symbol.shownCloudUpload:before{content:"\f0ee"}
.symbol.shownUserMD:before{content:"\f0f0"}
.symbol.shownStethoScope:before{content:"\f0f1"}
.symbol.shownSuitCase:before{content:"\f0f2"}
.symbol.shownCoffee:before{content:"\f0f4"}
.symbol.shownCutlery:before{content:"\f0f5"}
.symbol.shownAmbulance:before{content:"\f0f9"}
.symbol.shownMedkit:before{content:"\f0fa"}
.symbol.shownFighterJet:before{content:"\f0fb"}
.symbol.shownBeer:before{content:"\f0fc"}
.symbol.shownHorizontalSquare:before{content:"\f0fd"}
.symbol.shownPlusSquare:before{content:"\f0fe"}
.symbol.shownAngleDoubleLeft:before{content:"\f100"}
.symbol.shownAngleDoubleRight:before{content:"\f101"}
.symbol.shownAngleDoubleUp:before{content:"\f102"}
.symbol.shownAngleDoubleDown:before{content:"\f103"}
.symbol.shownAngleLeft:before{content:"\f104"}
.symbol.shownAngleRight:before{content:"\f105"}
.symbol.shownAngleUp:before{content:"\f106"}
.symbol.shownAngleDown:before{content:"\f107"}
.symbol.shownDesktop:before{content:"\f108"}
.symbol.shownLaptop:before{content:"\f109"}
.symbol.shownTablet:before{content:"\f10a"}
.symbol.shownMobilePhone:before,
.symbol.shownMobile:before{content:"\f10b"}
.symbol.shownQuoteLeft:before{content:"\f10d"}
.symbol.shownQuoteRight:before{content:"\f10e"}
.symbol.shownSpinner:before{content:"\f110"}
.symbol.shownCircle:before{content:"\f111"}
.symbol.shownMailReply:before,
.symbol.shownReply:before{content:"\f112"}
.symbol.shownGithubAlt:before{content:"\f113"}
.symbol.shownGamepad:before{content:"\f11b"}
.symbol.shownFlagCheckered:before{content:"\f11e"}
.symbol.shownTerminal:before{content:"\f120"}
.symbol.shownCode:before{content:"\f121"}
.symbol.shownMailReplyAll:before,
.symbol.shownReplyAll:before{content:"\f122"}
.symbol.shownLocationArrow:before{content:"\f124"}
.symbol.shownCrop:before{content:"\f125"}
.symbol.shownCodeFork:before{content:"\f126"}
.symbol.shownUnlink:before,
.symbol.shownChainBroken:before{content:"\f127"}
.symbol.shownQuestion:before{content:"\f128"}
.symbol.shownInfo:before{content:"\f129"}
.symbol.shownExclamation:before{content:"\f12a"}
.symbol.shownSuperscript:before{content:"\f12b"}
.symbol.shownSubscript:before{content:"\f12c"}
.symbol.shownEraser:before{content:"\f12d"}
.symbol.shownPuzzlePiece:before{content:"\f12e"}
.symbol.shownMicrophone:before{content:"\f130"}
.symbol.shownMicrophoneSlash:before{content:"\f131"}
.symbol.shownShield:before{content:"\f132"}
.symbol.shownFireExtinguisher:before{content:"\f134"}
.symbol.shownRocket:before{content:"\f135"}
.symbol.shownMaxCDN:before{content:"\f136"}
.symbol.shownChevronCircleLeft:before{content:"\f137"}
.symbol.shownChevronCircleRight:before{content:"\f138"}
.symbol.shownChevronCircleUp:before{content:"\f139"}
.symbol.shownChevronCircleDown:before{content:"\f13a"}
.symbol.shownHtml5:before{content:"\f13b"}
.symbol.shownCss3:before{content:"\f13c"}
.symbol.shownAnchor:before{content:"\f13d"}
.symbol.shownUnlockAlt:before{content:"\f13e"}
.symbol.shownBullsEye:before{content:"\f140"}
.symbol.shownHorizontalEllipsis:before{content:"\f141"}
.symbol.shownVerticalEllipsis:before{content:"\f142"}
.symbol.shownRssSquare:before{content:"\f143"}
.symbol.shownPlayCircle:before{content:"\f144"}
.symbol.shownTicket:before{content:"\f145"}
.symbol.shownMinusSquare:before{content:"\f146"}
.symbol.shownLevelUp:before{content:"\f148"}
.symbol.shownLevelDown:before{content:"\f149"}
.symbol.shownCheckSquare:before{content:"\f14a"}
.symbol.shownPencilSquare:before{content:"\f14b"}
.symbol.shownExternalLinkSquare:before{content:"\f14c"}
.symbol.shownShareSquare:before{content:"\f14d"}
.symbol.shownCompass:before{content:"\f14e"}
.symbol.shownEuro:before,
.symbol.shownEUR:before{content:"\f153"}
.symbol.shownGBP:before{content:"\f154"}
.symbol.shownDollar:before,
.symbol.shownUSD:before{content:"\f155"}
.symbol.shownRupee:before,
.symbol.shownINR:before{content:"\f156"}
.symbol.shownCNY:before,
.symbol.shownRMB:before,
.symbol.shownYEN:before,
.symbol.shownJPY:before{content:"\f157"}
.symbol.shownRuble:before,
.symbol.shownRouble:before,
.symbol.shownRUB:before{content:"\f158"}
.symbol.shownWon:before,
.symbol.shownKRW:before{content:"\f159"}
.symbol.shownBitcoin:before,
.symbol.shownBtc:before{content:"\f15a"}
.symbol.shownFile:before{content:"\f15b"}
.symbol.shownFileText:before{content:"\f15c"}
.symbol.shownSortAlphaAsc:before{content:"\f15d"}
.symbol.shownSortAlphaDesc:before{content:"\f15e"}
.symbol.shownSortAmountAsc:before{content:"\f160"}
.symbol.shownSortAmountDesc:before{content:"\f161"}
.symbol.shownSortNumericAsc:before{content:"\f162"}
.symbol.shownSortNumericDesc:before{content:"\f163"}
.symbol.shownThumbsUp:before{content:"\f164"}
.symbol.shownThumbsDown:before{content:"\f165"}
.symbol.shownYoutubeSquare:before{content:"\f166"}
.symbol.shownYoutube:before{content:"\f167"}
.symbol.shownXing:before{content:"\f168"}
.symbol.shownXingSquare:before{content:"\f169"}
.symbol.shownYoutubePlay:before{content:"\f16a"}
.symbol.shownDropbox:before{content:"\f16b"}
.symbol.shownStackOverflow:before{content:"\f16c"}
.symbol.shownInstagram:before{content:"\f16d"}
.symbol.shownFlickr:before{content:"\f16e"}
.symbol.shownAdn:before{content:"\f170"}
.symbol.shownBitbucket:before{content:"\f171"}
.symbol.shownBitbucketSquare:before{content:"\f172"}
.symbol.shownTumblr:before{content:"\f173"}
.symbol.shownTumblrSquare:before{content:"\f174"}
.symbol.shownLongArrowDown:before{content:"\f175"}
.symbol.shownLongArrowUp:before{content:"\f176"}
.symbol.shownLongArrowLeft:before{content:"\f177"}
.symbol.shownLongArrowRight:before{content:"\f178"}
.symbol.shownApple:before{content:"\f179"}
.symbol.shownWindows:before{content:"\f17a"}
.symbol.shownAndroid:before{content:"\f17b"}
.symbol.shownLinux:before{content:"\f17c"}
.symbol.shownDribbble:before{content:"\f17d"}
.symbol.shownSkype:before{content:"\f17e"}
.symbol.shownFoursquare:before{content:"\f180"}
.symbol.shownTrello:before{content:"\f181"}
.symbol.shownFemale:before{content:"\f182"}
.symbol.shownMale:before{content:"\f183"}
.symbol.shownGittip:before{content:"\f184"}
.symbol.shownArchive:before{content:"\f187"}
.symbol.shownBug:before{content:"\f188"}
.symbol.shownVK:before{content:"\f189"}
.symbol.shownWeibo:before{content:"\f18a"}
.symbol.shownRenren:before{content:"\f18b"}
.symbol.shownPagelines:before{content:"\f18c"}
.symbol.shownStackExchange:before{content:"\f18d"}
.symbol.shownWheelchair:before{content:"\f193"}
.symbol.shownVimeoSquare:before{content:"\f194"}
.symbol.shownTurkishLira:before,
.symbol.shownTry:before{content:"\f195"}
.symbol.shownSpaceShuttle:before{content:"\f197"}
.symbol.shownSlack:before{content:"\f198"}
.symbol.shownEnvelopeSquare:before{content:"\f199"}
.symbol.shownWordpress:before{content:"\f19a"}
.symbol.shownOpenid:before{content:"\f19b"}
.symbol.shownInstitution:before,
.symbol.shownBank:before,
.symbol.shownUniversity:before{content:"\f19c"}
.symbol.shownMortarBoard:before,
.symbol.shownGraduationCap:before{content:"\f19d"}
.symbol.shownYahoo:before{content:"\f19e"}
.symbol.shownGoogle:before{content:"\f1a0"}
.symbol.shownReddit:before{content:"\f1a1"}
.symbol.shownRedditSquare:before{content:"\f1a2"}
.symbol.shownStumbleuponCircle:before{content:"\f1a3"}
.symbol.shownStumbleupon:before{content:"\f1a4"}
.symbol.shownDelicious:before{content:"\f1a5"}
.symbol.shownDigg:before{content:"\f1a6"}
.symbol.shownPiedPiperSquare:before,
.symbol.shownPiedPiper:before{content:"\f1a7"}
.symbol.shownPiedPiperAlt:before{content:"\f1a8"}
.symbol.shownDrupal:before{content:"\f1a9"}
.symbol.shownJoomla:before{content:"\f1aa"}
.symbol.shownLanguage:before{content:"\f1ab"}
.symbol.shownFax:before{content:"\f1ac"}
.symbol.shownBuilding:before{content:"\f1ad"}
.symbol.shownChild:before{content:"\f1ae"}
.symbol.shownPaw:before{content:"\f1b0"}
.symbol.shownSpoon:before{content:"\f1b1"}
.symbol.shownCube:before{content:"\f1b2"}
.symbol.shownCubes:before{content:"\f1b3"}
.symbol.shownBehance:before{content:"\f1b4"}
.symbol.shownBehanceSquare:before{content:"\f1b5"}
.symbol.shownSteam:before{content:"\f1b6"}
.symbol.shownSteamSquare:before{content:"\f1b7"}
.symbol.shownRecycle:before{content:"\f1b8"}
.symbol.shownAutomobile:before,
.symbol.shownCar:before{content:"\f1b9"}
.symbol.shownCab:before,
.symbol.shownTaxi:before{content:"\f1ba"}
.symbol.shownTree:before{content:"\f1bb"}
.symbol.shownSpotify:before{content:"\f1bc"}
.symbol.shownDeviantart:before{content:"\f1bd"}
.symbol.shownSoundCloud:before{content:"\f1be"}
.symbol.shownDatabase:before{content:"\f1c0"}
.symbol.shownVine:before{content:"\f1ca"}
.symbol.shownCodepen:before{content:"\f1cb"}
.symbol.shownJSFiddle:before{content:"\f1cc"}
.symbol.shownLifeBouy:before,
.symbol.shownLifeSaver:before,
.symbol.shownSupport:before,
.symbol.shownLifeRing:before{content:"\f1cd"}
.symbol.shownRa:before,
.symbol.shownRebel:before{content:"\f1d0"}
.symbol.shownGe:before,
.symbol.shownEmpire:before{content:"\f1d1"}
.symbol.shownGitSquare:before{content:"\f1d2"}
.symbol.shownGit:before{content:"\f1d3"}
.symbol.shownHackerNews:before{content:"\f1d4"}
.symbol.shownTencentWeibo:before{content:"\f1d5"}
.symbol.shownQQ:before{content:"\f1d6"}
.symbol.shownWechat:before,
.symbol.shownWeixin:before{content:"\f1d7"}
.symbol.shownSend:before,
.symbol.shownPaperPlane:before{content:"\f1d8"}
.symbol.shownHistory:before{content:"\f1da"}
.symbol.shownCircleThin:before{content:"\f1db"}
.symbol.shownHeader:before{content:"\f1dc"}
.symbol.shownParagraph:before{content:"\f1dd"}
.symbol.shownSliders:before{content:"\f1de"}
.symbol.shownShareAlt:before{content:"\f1e0"}
.symbol.shownShareAltSquare:before{content:"\f1e1"}
.symbol.shownBomb:before{content:"\f1e2"}
.symbol.shownCircle2:before{content:"\f10c"}
.symbol.shownFolder2:before{content:"\f114"}
.symbol.shownFolderOpen2:before{content:"\f115"}
.symbol.shownSmile:before{content:"\f118"}
.symbol.shownFrown:before{content:"\f119"}
.symbol.shownMeh:before{content:"\f11a"}
.symbol.shownKeyboard:before{content:"\f11c"}
.symbol.shownFlag2:before{content:"\f11d"}
.symbol.shownStarHalfEmpty:before,
.symbol.shownStarHalfFull:before,
.symbol.shownStarHalf2:before{content:"\f123"}
.symbol.shownCalendar2:before{content:"\f133"}
.symbol.shownMinusSquare2:before{content:"\f147"}
.symbol.shownSun:before{content:"\f185"}
.symbol.shownMoon:before{content:"\f186"}
.symbol.shownSend2:before,
.symbol.shownPaperPlane2:before{content:"\f1d9"}
.symbol.shownPlayCircle2:before{content:"\f01d"}
.symbol.shownFile:before{content:"\f016"}
.symbol.shownClock:before{content:"\f017"}
.symbol.shownTrash:before{content:"\f014"}
.symbol.shownEnvelope2:before{content:"\f003"}
.symbol.shownStar2:before{content:"\f006"}
.symbol.shownFilePDF:before{content:"\f1c1"}
.symbol.shownFileWord:before{content:"\f1c2"}
.symbol.shownFileExcel:before{content:"\f1c3"}
.symbol.shownFilePowerPoint:before{content:"\f1c4"}
.symbol.shownFilePhoto:before,
.symbol.shownFilePicture:before,
.symbol.shownFileImage:before{content:"\f1c5"}
.symbol.shownFileZip:before,
.symbol.shownFileArchive:before{content:"\f1c6"}
.symbol.shownFileSound:before,
.symbol.shownFileAudio:before{content:"\f1c7"}
.symbol.shownFileMovie:before,
.symbol.shownFileVideo:before{content:"\f1c8"}
.symbol.shownFileCode:before{content:"\f1c9"}
.symbol.shownDotCircle:before{content:"\f192"}
.symbol.shownPlusSquare2:before{content:"\f196"}
.symbol.shownPhoto:before,
.symbol.shownImage:before,
.symbol.shownPicture2:before{content:"\f03e"}
.symbol.shownEdit:before,
.symbol.shownPencilSquare2:before{content:"\f044"}
.symbol.shownShareSquare2:before{content:"\f045"}
.symbol.shownCheckSquare2:before{content:"\f046"}
.symbol.shownCopy:before,
.symbol.shownFiles:before{content:"\f0c5";}
.symbol.shownSave:before,
.symbol.shownFloppy:before{content:"\f0c7"}
.symbol.shownHDD:before{content:"\f0a0"}
.symbol.shownSquare2:before{content:"\f096"}
.symbol.shownBookmark2:before{content:"\f097"}
.symbol.shownLemon:before{content:"\f094"}
.symbol.shownHeart2:before{content:"\f08a"}
.symbol.shownBarChart:before{content:"\f080"}
.symbol.shownTimesCircle2:before{content:"\f05c"}
.symbol.shownCheckCircle2:before{content:"\f05d"}
.symbol.shownFileText2:before{content:"\f0f6"}
.symbol.shownBuilding2:before{content:"\f0f7"}
.symbol.shownHospital:before{content:"\f0f8"}
.symbol.shownBell2:before{content:"\f0a2"}
.symbol.shownLightbulb:before{content:"\f0eb"}
.symbol.shownComment2:before{content:"\f0e5"}
.symbol.shownComments2:before{content:"\f0e6"}
.symbol.shownCircleNotch:before{content:"\f1ce"}
.symbol.shownArrowCircleRight2:before{content:"\f18e"}
.symbol.shownArrowCircleLeft2:before{content:"\f190"}
.symbol.shownToggleLeft:before,
.symbol.shownCaretSquareLeft:before{content:"\f191"}
.symbol.shownToggleDown:before,
.symbol.shownCaretSquareDown:before{content:"\f150"}
.symbol.shownToggleUp:before,
.symbol.shownCaretSquareUp:before{content:"\f151"}
.symbol.shownToggleRight:before,
.symbol.shownCaretSquareRight:before{content:"\f152"}
.symbol.shownHandRight:before{content:"\f0a4"}
.symbol.shownHandLeft:before{content:"\f0a5"}
.symbol.shownHandUp:before{content:"\f0a6"}
.symbol.shownHandDown:before{content:"\f0a7"}
.symbol.shownThumbsUp2:before{content:"\f087"}
.symbol.shownThumbsDown2:before{content:"\f088"}
.symbol.shownArrowCircleDown2:before{content:"\f01a"}
.symbol.shownArrowCircleUp2:before{content:"\f01b"}